- name: Xorg for Archlinux
  when: ansible_os_family == 'Archlinux'
  tags:
    - X
    - Archlinux
  block:
    - name: Install Arch X pkgs
      community.general.pacman:
        name:
          - xorg-server
          - xorg-xinit
          - xorg-xrandr
          - xorg-xsetroot
          - xorg-apps
          # misc
          - noto-fonts
        state: present
        reason: explicit

    - name: Install AUR X packages
      kewlfft.aur.aur:
        name:
          - xautolock
        state: present
      become: true
      become_user: aur_builder

    - name: Include multilib repository
      ansible.builtin.replace:
        path: /etc/pacman.conf
        regexp: "^#\\[multilib\\]\n#Include = /etc/pacman.d/mirrorlist"
        replace: "[multilib]\nInclude = /etc/pacman.d/mirrorlist"

    - name: Run the equivalent of "pacman -Sy" as a separate step
      community.general.pacman:
        update_cache: true

      # TODO Add AMD
    - name: Intel graphics
      when: '"Intel" in ansible_processor[0]'
      block:
        - name: Install intel graphics drivers
          community.general.pacman:
            name:
              - mesa
              - vulkan-intel
              - lib32-mesa
            state: present
            reason: explicit

        - name: Ensure absent intel pkgs
          community.general.pacman:
            name:
              # These caused problems for electron applications and not recommended
              - xf86-video-intel
              - intel-media-driver
            state: absent

- name: Xorg for Debian
  when: ansible_os_family == 'Debian'
  tags:
    - X
    - Debian
  block:
    - name: Install debian X pkgs
      ansible.builtin.apt:
        pkg:
          - xorg
          # misc
          - fonts-noto
          - xautolock
        state: present

      # TODO Add AMD
    - name: Intel graphics
      when: '"Intel" in ansible_processor[0]'
      block:
        - name: Install intel graphics drivers
          ansible.builtin.apt:
            pkg:
              - mesa-vulkan-drivers
            state: present

        - name: Ensure absent intel pkgs
          ansible.builtin.apt:
            pkg:
              # These caused problems for electron applications and not recommended
              - xserver-xorg-video-intel
            state: absent

- name: Ensures /etc/X11/xorg.conf.d dir exists
  ansible.builtin.file:
    path: /etc/X11/xorg.conf.d
    state: directory
    group: root
    owner: root
    mode: '0755'
  become: true
  become_user: root

- name: Ensures /etc/modules-load.d dir exists
  ansible.builtin.file:
    path: /etc/modules-load.d
    state: directory
    group: root
    owner: root
    mode: '0755'
  become: true
  become_user: root

- name: Block TTY and killing of X server
  tags:
    - X
  ansible.builtin.copy:
    src: 10-x-hardening.conf
    dest: "/etc/X11/xorg.conf.d/10-x-hardening.conf"
  become: true
  become_user: root

# Ubuntu is suppose to have some nice official driver, TODO
- name: Arch displaylink evdi xorg conf
  tags:
    - X
    - Archlinux
  ansible.builtin.copy:
    src: 21-evdi-displaylink.conf
    dest: "/etc/X11/xorg.conf.d/21-evdi-displaylink.conf"
  become: true
  become_user: root

- name: Arch displaylink udl kernel module at boot
  tags:
    - X
    - Archlinux
  ansible.builtin.copy:
    src: udl.conf
    dest: "/etc/modules-load.d/udl.conf"
  become: true
  become_user: root
