Types: deb
URIs: https://download.docker.com/linux/ubuntu
Suites: {{ ansible_distribution_release }}
Components: stable
Architectures: {{ dpkg_architecture.stdout }}
Signed-By: /etc/apt/keyrings/docker.pgp
