Types: deb
URIs: https://pkgs.zabbly.com/incus/stable
Suites: {{ ansible_distribution_release }}
Components: main
Architectures: {{ dpkg_architecture.stdout }}
Signed-By: /etc/apt/keyrings/zabbly.pgp
